
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-left">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h1> <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong> </h1>
        <h4 class="date">
            <strong>Written on {{ post.date | date: '%B %d, %Y' }}</strong>,
            <strong>Modified on {{ post.modifiedOn | date: '%B %d, %Y' }}</strong> |
            <a href="{{site.baseurl}}{{post.url }}#disqus_thread">Comments</a>
        </h4>
          <h4>
            <small>
              category:
              <a class="category" href="{{site.baseurl}}/blog/categories/{{post.category | downcase}}.html">
                {{ post.category }}
              </a>
              <br />
              {% for tag in post.tags %}
                <a class="tag" href="{{site.baseurl}}/blog/tags/{{tag}}.html">#{{ tag }}</a>
              {% endfor %}          
            </small>
          </h4>

        {{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }}
        <br />
        <a href="{{site.baseurl}}{{post.url}}">CONTINUE READING ...</a>

        <h4><a href="{{site.baseurl}}/blog/">More Blogs</a></h4>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
